/* reset CSS*/
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: chartreuse;
}  
header{
        width: 50%;
        background-color: palevioletred;
        padding: 50px;
}
button{
    padding: 15px;
    margin-top: 3%;
    margin-left: 5%;
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 2rem;
}
button:hover{
    background-color: white;
    color: blueviolet;
    padding: 30px;
    font-size: larger;
    font-weight: 900;
}