/* reset CSS*/
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: chartreuse;
}  
header{
        /* width: 50%; */
        background-color: palevioletred;
        padding: 50px;
        margin: auto;
}
ul{
    display: flex;
}
li{
    padding: 1rem;
    list-style: none;
}
.header{
    display: flex;
    width: 100%
}
.btn{
    padding: 15px;
    margin-top: 3%;
    margin-left: 5%;
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 2rem;
}
.btn:hover{
    background-color: white;
    color: blueviolet;
    padding: 30px;
    font-size: larger;
    font-weight: 900;
}